@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[_], lang: Lang)

@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<body>
    <div id="header">
        <div>
            <span class="userGreeting">
                @Messages("sample.message.welcome")
                @handler.getSubject(request).map(_.toString).getOrElse("Great Hacker!")
            </span>
            <a href="/logout">@Messages("sample.message.logout")</a>
        </div>
        <div>
            <span>@Messages("sample.message.change.locale")</span>
            <a href="?lang=en">@Messages("sample.message.locale.en")</a>
            <a href="?lang=ru">@Messages("sample.message.locale.ru")</a>
        </div>
    </div>

    <br/>

    <div id="content" ng-controller="GlossariesCtrl">

        <div loading-container="tableParams.settings().$loading">
            <table ng-table="tableParams" show-filter="false" class="table">
                <tr ng-repeat="glossary in $data">
                    <td data-title="'@Messages("sample.message.name")'" filter="{ 'name' : 'text' }">
                        {{glossary.name}}
                    </td>
                    <td data-title="'@Messages("sample.message.description")'">
                        {{glossary.description}}
                    </td>

                    @restrict(handler, List(as("admin"))) {
                        <td data-title="'@Messages("sample.message.actions")'">
                            <a href="#" ng-click="edit('@Messages("sample.message.edit")', glossary.id)">@Messages("sample.message.edit")</a>
                            <a href="#" ng-click="remove('@Messages("sample.js.message.confirm.deleting")', glossary.id)">@Messages("sample.message.delete")</a>
                        </td>
                    }
                </tr>
            </table>
        </div>


        @restrict(handler, List(as("admin"))) {
            <div>
                <input type="button" value="@Messages("sample.message.add")"  ng-click="add('@Messages("sample.message.add")')">
            </div>

            @edit(handler)
        }

    </div>

    <!--Load JS-->
    <script type="text/javascript" data-main="@routes.Assets.at("javascripts/app/main")" src="@routes.Assets.at("javascripts/bower_components/requirejs/require.js")"></script>
</body>