@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[_], lang: Lang)
@*Template for edit form*@
<script type="text/ng-template" id="editGlossaryForm.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <input type="hidden" ng-model="glossary.id">
        <div>
            <label for="name">
                @Messages("sample.message.name")
            </label>
            <input type="text" ng-model="glossary.name" required>
        </div>
        <div>
            <label for="name">
                @Messages("sample.message.description")
            </label>
            <input type="text" id="description" ng-model="glossary.description" required>
        </div>

        <div>
            <input type="button" value="@Messages("sample.message.save")" ng-click="ok()">
            <input type="button" value="@Messages("sample.message.cancel")" ng-click="cancel()">
        </div>
    </div>
</script>