@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[_], lang: Lang)
@*Template for edit form*@
<script type="text/ng-template" id="editGlossaryForm.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <input type="hidden" name="id" value="{{glossary.id}}">
        <div>
            <label for="name">
                @Messages("sample.message.name")
            </label>
            <input type="text" id="name" name="name" value="{{glossary.name}}" class="required">
        </div>
        <div>
            <label for="name">
                @Messages("sample.message.description")
            </label>
            <input type="text" id="description" name="description" value="{{glossary.description}}" class="required">
        </div>

        <div>
            <input type="button" value="@Messages("sample.message.save")" ng-click="ok()">
            <input type="button" value="@Messages("sample.message.cancel")" ng-click="cancel()">
        </div>
    </div>
</script>